.dashboard {
    position: absolute;
    width: 210px;
    height: auto;
    bottom: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.445);
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the top */
    align-items: center;
}

.top-container {
    display: flex;
    flex-direction: row; /* Arrange items side by side */
    justify-content: flex-start; /* Align items at the start */
    align-items: center;
    margin-top: -15px; /* Add some space between the top container and the pie chart */
}

#myPieChart {
    font-size: larger;
    width: 150px !important;
    height: 120px !important;
    margin-top: -10px; /* Add some space between the top container and the pie chart */
}

#treeimg {
    width: 80px;
    height: 80px;
}

#notrees {
    font-size: 35px;
    margin-left: 1px; /* Add some space between the image and the paragraph */
}
